/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.tile {
    border: 5px solid black;
    width: 80px;
    height: 80px;
    padding: 25px;
    color: white;
    display: #696969;
    background: #00BFFF;
    text-align: center;
    font-size: 40px;
}

.status{
	font-size: 40px;
	color: purple;
}
