/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.tile {
    border: 5px solid black;
    width: 150px;
    height: 100px;
    padding: 25px;
    display: block;
    background: black;
    text-align: center;
    font-size: 40px;
}

